# Getting Started and Loading/Exploring Data

In [3]:
import pandas as pd
df = pd.read_csv('results.csv')
df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
45310,2023-11-21,Wales,Turkey,1,1,UEFA Euro qualification,Cardiff,Wales,False
45311,2023-11-21,Croatia,Armenia,1,0,UEFA Euro qualification,Zagreb,Croatia,False
45312,2023-11-21,Andorra,Israel,0,2,UEFA Euro qualification,Andorra la Vella,Andorra,False
45313,2023-11-21,Kosovo,Belarus,0,1,UEFA Euro qualification,Pristina,Kosovo,False
45314,2023-11-21,Romania,Switzerland,1,0,UEFA Euro qualification,Bucharest,Romania,False

# Q1.What is the average number of goals for the home team?
Hint: You can call the mean() method on the 'home_score' column.

In [5]:
df['home_score'].mean()

1.7393136930376256

# Q2: What is the average number of goals for the away team?
Hint: You can call the mean() method on the 'away_score' column.

In [7]:
df['away_score'].mean()

1.1782412004854905

# Q3: What is the country with the highest overall home score?
Hint: You will need to group the data by country, then get the sum of home scores for each country. You can use the idxmax() function to find the index(country) with the highest sum.

In [19]:
df.groupby(['country'])['home_score'].sum().idxmax()

'United States'

# Q4: What are the top 3 type of tournaments?
Hint: You can use the value_counts() method to count the occurences of each unique value in the 'tournament' column.

In [22]:
df['tournament'].value_counts().head(3)

tournament
Friendly                        17773
FIFA World Cup qualification     8016
UEFA Euro qualification          2815
Name: count, dtype: int64

# Q5: Which country has the highest overall FIFA World Cup goals?

**5.1 Create a new dataframe (fifa_df) that only contains rows where the "tournament" column == 'FIFA World Cup'.**

In [32]:
fifa_df = df[df['tournament'] == 'FIFA World Cup qualification'].copy()
fifa_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
1588,1933-06-11,Sweden,Estonia,6,2,FIFA World Cup qualification,Stockholm,Sweden,False
1593,1933-06-29,Lithuania,Sweden,0,2,FIFA World Cup qualification,Kaunas,Lithuania,False
1612,1933-09-24,Yugoslavia,Switzerland,2,2,FIFA World Cup qualification,Belgrade,Yugoslavia,False
1620,1933-10-15,Poland,Czechoslovakia,1,2,FIFA World Cup qualification,Warsaw,Poland,False
1627,1933-10-29,Switzerland,Romania,2,2,FIFA World Cup qualification,Berne,Switzerland,False
...,...,...,...,...,...,...,...,...,...
45300,2023-11-21,Somalia,Uganda,0,1,FIFA World Cup qualification,Berkane,Morocco,True
45301,2023-11-21,Botswana,Guinea,1,0,FIFA World Cup qualification,Francistown,Botswana,False
45302,2023-11-21,Malawi,Tunisia,0,1,FIFA World Cup qualification,Lilongwe,Malawi,False
45303,2023-11-21,SÃ£o TomÃ© and PrÃ­ncipe,Namibia,0,2,FIFA World Cup qualification,Agadir,Morocco,True
45304,2023-11-21,Comoros,Ghana,1,0,FIFA World Cup qualification,Moroni,Comoros,False

**5.2 In your new fifa_df, create a new 'total_score' column that sums 'home_score' + 'away_score' for each row.**

In [37]:
fifa_df = fifa_df.assign(total_score = fifa_df['home_score'] + fifa_df['away_score'])
fifa_df

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,total_score
1588,1933-06-11,Sweden,Estonia,6,2,FIFA World Cup qualification,Stockholm,Sweden,False,8
1593,1933-06-29,Lithuania,Sweden,0,2,FIFA World Cup qualification,Kaunas,Lithuania,False,2
1612,1933-09-24,Yugoslavia,Switzerland,2,2,FIFA World Cup qualification,Belgrade,Yugoslavia,False,4
1620,1933-10-15,Poland,Czechoslovakia,1,2,FIFA World Cup qualification,Warsaw,Poland,False,3
1627,1933-10-29,Switzerland,Romania,2,2,FIFA World Cup qualification,Berne,Switzerland,False,4
...,...,...,...,...,...,...,...,...,...,...
45300,2023-11-21,Somalia,Uganda,0,1,FIFA World Cup qualification,Berkane,Morocco,True,1
45301,2023-11-21,Botswana,Guinea,1,0,FIFA World Cup qualification,Francistown,Botswana,False,1
45302,2023-11-21,Malawi,Tunisia,0,1,FIFA World Cup qualification,Lilongwe,Malawi,False,1
45303,2023-11-21,SÃ£o TomÃ© and PrÃ­ncipe,Namibia,0,2,FIFA World Cup qualification,Agadir,Morocco,True,2
45304,2023-11-21,Comoros,Ghana,1,0,FIFA World Cup qualification,Moroni,Comoros,False,1

**5.3 Group your data by country, then get the sum of the 'total_score' column. From there, you can use idxmax() to find the country with the highest 'total_score'.**

In [40]:
fifa_df.groupby(['country'])['total_score'].sum().idxmax()

'Qatar'